{% extends "frontend/common/main_template.html" %}
{% block page_title %}Ingredient Manager{% endblock %}
{% block content %}
    <div id="ingredient-manager">
      <div class="header-all flex-row-between flex-gap-regular">
          <h2>All Ingredients</h2>
          <float-input id='ingredient_filter' label='Search' extra='onkeyup="all_ingredients_grid.gridOptions.api.refreshInfiniteCache()"'></float-input>
      </div>
      <div class="ingredients-all">

        <!-- A data grid to browse available ingredients -->
          <div id="ingredients" class="contained_table ag-theme-balham"></div>
      </div>
      <div class="header">
          <h2>Information</h2>
      </div>
      <div class="ingredient">
                  <!-- A form to edit the given ingredient -->
          <form id="ingredient_edit_form" autocomplete="off">
                <input type="hidden" id="selected_row_node">
                <input type="hidden" id="ingredient_uri" name="ingredient_uri">

              <float-input id='introduction' label='Introduction' hint="Introductory paragraph explains ingredient" multiline="true" ></float-input>
                <div class="flex-row-equalfill">
                    <float-input id='name' label='Name' hint="Grilled Cheese" ></float-input>
                    <float-input id='slug' label='Slug' hint="grilled-cheese" input_mask_name="slug_mask" ></float-input>
                </div>

              <float-input id='description' label='Description' hint="A sandwich made with melted cheese" multiline="true" ></float-input>
              <float-input id='notes' label='Notes' hint="Additional information about usage, types, etc." multiline="true" ></float-input>
                <div class="flex-row-equalfill">
                    <float-input id='tags' label='Tags' hint="tag1,tag2,tag3" input_mask_name="tag_mask"></float-input>
                    <!-- You can't modify the owner, but I'm showing it here for this proof of concept -->
                    <float-input id='owner' label='Owner' hint="A sandwich made with melted cheese" extra='disabled value=""'></float-input>
                </div>
                <h3>Nutrition</h3>
                <div class="flex-row-equalfill">
                        <float-input id='serving' label='Serving Size (g)' hint="in grams" input_mask_name="nutrition_mask"></float-input>
                        <float-input id='kilojoules' label='kilojoules' input_mask_name=nutrition_mask></float-input>
                    </div>
                    <div class="flex-row-equalfill">
                        <float-input id='protein' label='protein (g)' hint="in grams" input_mask_name="nutrition_mask"></float-input>
                        <float-input id='carbohydrate' label='carbohydrate (g)' hint="in grams" input_mask_name="nutrition_mask"></float-input>
                        <float-input id='fat' label='fat (g)' hint="in grams" input_mask_name="nutrition_mask"></float-input>
                        <float-input id='saturatedfat' label='saturatedfat (g)' hint="in grams" input_mask_name="nutrition_mask"></float-input>
                    </div>
                    <div class="flex-row-equalfill">
                        <float-input id='sugar' label='sugar (g)' hint="in grams" input_mask_name="nutrition_mask"></float-input>
                        <float-input id='sodium' label='sodium (mg)' hint="in milligrams" input_mask_name="nutrition_mask"></float-input>
                        <float-input id='fibre' label='fibre (g)' hint="in grams" input_mask_name="nutrition_mask"></float-input>
                    </div>
            </form>
            <div class="flex-row-equalfill">
                <button class="oneline dark" onclick="create_ingredient()">Create New</button>
                <button class="oneline dark" disabled onclick="edit_ingredient()" id="edit_desc">Edit <span></span></button>
                <button class="oneline dark" disabled onclick="delete_ingredient()" id="delete_desc">Delete <span></span></button>
            </div>
      </div>
    </div>
{% endblock %}
{% block css %}
    <style>
    #ingredient-manager {
      display: grid;
      grid-template-columns: 1fr 30em;
      grid-template-rows: 4em 1fr;
      gap: 0 var(--padding);
      grid-template-areas: "header-all header" "ingredients-all ingredient";

        min-height: calc(100vh - 7em); /* Make it fill as much of the screen as possible to start off*/
    }
    #ingredient-manager>.header-all { grid-area: header-all; }
    #ingredient-manager>.ingredients-all {
        grid-area: ingredients-all;
        resize: vertical;
            overflow: auto;
    }
    #ingredient-manager>.ingredient { grid-area: ingredient; }
    #ingredient-manager>.header { grid-area: header; }

        #ingredient-manager>.ingredients-all > .contained_table {
            height: 100%;
        }
        #ingredient-manager>.ingredient{
            max-width: 30em;
        }
        #ingredient-manager>.ingredient button{
            margin: 1px;
        }
        #ingredient-manager>.ingredient .field{
            margin: 1px;
        }
    </style>
{% endblock %}
{% block js %}
    <script>
        // Set up the grid for browsing ingredients
        let all_ingredients_grid;

        // Make variables for getting the input fields
        let form_ingredient = document.querySelector('#ingredient_edit_form');
        let input_ingredient_uri = document.querySelector('#ingredient_uri');
        let input_name = document.querySelector('#name');
        let input_description = document.querySelector('#description');
        let input_owner = document.querySelector('#owner');
        let input_serving = document.querySelector('#serving');
        let input_introduction = document.querySelector('#introduction');
        let input_notes = document.querySelector('#notes');
        let input_tags = document.querySelector('#tags');
        let input_slug = document.querySelector('#slug');
        let input_kilojoules = document.querySelector('#kilojoules');
        let input_protein = document.querySelector('#protein');
        let input_fibre = document.querySelector('#fibre');
        let input_carbohydrate = document.querySelector('#carbohydrate');
        let input_fat = document.querySelector('#fat');
        let input_sugar = document.querySelector('#sugar');
        let input_saturatedfat = document.querySelector('#saturatedfat');
        let input_sodium = document.querySelector('#sodium');


        document.addEventListener('DOMContentLoaded', () => {
            // Create a grid to view the data
            all_ingredients_grid = new agGrid.Grid(document.querySelector('#ingredients'), {
                columnDefs: [
                    {headerName: "Name", field: "name", sort: 'asc'},
                    {headerName: "Description", field: "description"},
                    {headerName: "Serving", field: "serving"},
                    {headerName: "Notes", field: "notes"},
                ],
                defaultColDef: {
                    flex: 1,
                    sortable: true,
                    resizable: true,
                },
                rowModelType: 'infinite',
                rowSelection: 'single',
                pagination: true,
                paginationAutoPageSize: true,
                // Set up the grid to paginate using the server side API
                datasource: {
                    getRows: async params => {
                        params.searchKey = document.querySelector('#ingredient_filter').value;
                        let response = await pants.get_ingredients(params);

                        if (response.ok) {
                            let data = await response.json();
                            params.successCallback(data['results'], data['count'])
                        } else {
                            params.failCallback();
                        }
                    }
                }
            });

            // Register event to fill form with selected ingredient
            all_ingredients_grid.gridOptions.api.addEventListener('rowSelected', args => {
                // This event fires if a row is selected OR deselected, we only care if something gets selected
                if (!args.node.selected) return;
                let ingredient = args.data;
                input_ingredient_uri.value = ingredient.url;
                input_name.value = ingredient.name;
                input_description.value = ingredient.description;
                input_owner.value = ingredient.owner;
                input_serving.value = ingredient.serving;
                input_introduction.value = ingredient.introduction;
                input_notes.value = ingredient.notes;
                input_tags.value = ingredient.tags.join(',');
                input_slug.value = ingredient.slug;

                // Nutritional Data
                input_kilojoules.value = ingredient.kilojoules;
                input_protein.value = ingredient.protein;
                input_fibre.value = ingredient.fibre;
                input_carbohydrate.value = ingredient.carbohydrate;
                input_fat.value = ingredient.fat;
                input_sugar.value = ingredient.sugar;
                input_saturatedfat.value = ingredient.saturatedfat;
                input_sodium.value = ingredient.sodium;

                // Also store a reference to this node so that we can refresh it
                // @todo change this to pants_data and provide a safe access function
                document.querySelector('#selected_row_node').extra_data = {
                    'ag_data': args.node
                };

                // Label the buttons to indicate the node that will be affected
                let short_name = '';
                if (ingredient.name.length > 13) {
                    short_name = ingredient.name.slice(0, 10) + '...';
                } else {
                    short_name = ingredient.name.slice(0, 13);
                }
                let edit_btn = document.querySelector('#edit_desc');
                let delete_btn = document.querySelector('#delete_desc');
                edit_btn.querySelector('span').innerText = short_name;
                delete_btn.querySelector('span').innerText = short_name;
                // Since they start off disabled, enable them
                edit_btn.disabled = false;
                delete_btn.disabled = false;
            });

        });

        /**
         * Updates the ingredient based on the values in the ingredients form
         */
        function edit_ingredient() {
            pants.edit_ingredient(input_ingredient_uri.value, {
                'name': input_name.value,
                'slug': input_slug.value,
                'description': input_description.value,
                // @todo Cannot edit owner? Remove this if there is no case where this is possible
                // 'owner': form.querySelector('[name=owner]').value,
                'tags': input_tags.value.split(',').filter(tag => tag !== ''),
                'serving': input_serving.value,
                'introduction': input_introduction.value,
                'notes': input_notes.value,

                // Nutritional Data
                'kilojoules': input_kilojoules.value,
                'protein': input_protein.value,
                'fibre': input_fibre.value,
                'carbohydrate': input_carbohydrate.value,
                'fat': input_fat.value,
                'sugar': input_sugar.value,
                'saturatedfat': input_saturatedfat.value,
                'sodium': input_sodium.value,
            })
                .then(resp => {
                    let row_node = document.querySelector('#selected_row_node').extra_data.ag_data;
                    row_node.setData(resp);
                    all_ingredients_grid.gridOptions.api.flashCells({
                        rowNodes: [row_node]
                    })
                });
        }

        /**
         * Deletes the currently selected ingredient
         */
        function delete_ingredient() {
            pants.delete_ingredient(input_ingredient_uri.value)
                .then(response => {
                    all_ingredients_grid.gridOptions.api.deselectAll();
                    all_ingredients_grid.gridOptions.api.refreshInfiniteCache();
                });
        }

        /**
         * Creates a new ingredient using the information in the input fields
         */
        function create_ingredient() {
            pants.create_ingredient({
                'name': input_name.value,
                'slug': input_slug.value,
                'description': input_description.value,
                // @todo Cannot edit owner? Remove this if there is no case where this is possible
                // 'owner': form.querySelector('[name=owner]').value,
                'tags': input_tags.value.split(',').filter(tag => tag !== ''),
                'serving': input_serving.value,
                'introduction': input_introduction.value,
                'notes': input_notes.value,

                // Nutritional Data
                'kilojoules': input_kilojoules.value,
                'protein': input_protein.value,
                'fibre': input_fibre.value,
                'carbohydrate': input_carbohydrate.value,
                'fat': input_fat.value,
                'sugar': input_sugar.value,
                'saturatedfat': input_saturatedfat.value,
                'sodium': input_sodium.value,
            })
                .then(resp => {
                    console.log(resp);
                    all_ingredients_grid.gridOptions.api.refreshInfiniteCache();
                })
        }
    </script>
{% endblock %}